<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhongruan.dao.IPowerDao" >
    <select id="findAllPowerInformation" resultType="com.zhongruan.bean.Power">
       select*from power_table
   </select>

    <select id="findSelectPower" parameterType="com.zhongruan.bean.Power" resultType="com.zhongruan.bean.Power">
       select*from power_table where power_id=#{power_id}
   </select>
</mapper>